@model SV20T1020390.DomainModels.Customer
@{
    ViewBag.Title = "Xóa khách hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form action="/Customer/Delete/@Model.CustomerId" method="post">
            <div class="form-group">
                <label>Tên khách hàng:</label>
                <p class="form-control-static">@Model.CustomerName</p>
            </div>

            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static">@Model.ContactName</p>
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static">@Model.Phone</p>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <p class="form-control-static">@Model.Email</p>
            </div>

            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static">@Model.Address</p>
            </div>

            <div class="form-group">
                <label>Tỉnh/Thành:</label>
                <p class="form-control-static">@Model.Province</p>
            </div>

            <div class="form-group">
                <label>Trạng thái:</label>
                <p class="form-control-static">
                    @(Model.IsLocked ? "Tài khoản đang bị khóa" : "Tài khoản đang hoạt động")
                    </p>
            </div>

            <div class="form-group">
                @if(!SV20T1020390.BusinessLayers.CommonDataService.IsUsedCustomer(Model.CustomerId))
                {
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Xác nhận xóa
                    </button>
                }
                <a href="~/Customer" class="btn btn-default">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>
