@model SV20T1020390.web.Models.CustomerSearchResult
@{
    Layout = null;
}

<!-- Hiển thị kết quả tìm kiếm -->
<div>
    <p style="margin: 10px 0 10px 0">
        Có <strong>@Model.RowCount</strong> khách hàng trong số <strong>@Model.PageCount</strong> trang
    </p>
    <div class="table-responsive">
        <table class=" table table-bordered table-hover table-striped">
            <!--Header-->
            <thead>
                <tr class="bg-primary">
                    <th>Tên khách hàng</th>
                    <th>Tên giao dịch</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Tỉnh thành</th>
                    <th>Bị khóa?</th>
                    <th style="width:80px"></th>
                </tr>
            </thead>

            <!--Body-->
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>@item.CustomerName</td>
                        <td>@item.ContactName</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                        <td>@item.Province</td>
                        <td></td>
                        <td class="text-right">
                            <a href="~/Customer/Edit/@item.CustomerId" class="btn btn-xs btn-info">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/Customer/Delete/@item.CustomerId" class="btn btn-xs btn-danger">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    @if (Model.PageCount > 1)
    {
        <div class="text-center">
            <ul class="pagination">

                @for (int p = 1; p <= Model.PageCount; p++)
                {
                    if (Model.Page == p)
                    {
                        <li class="active"><a href="#">@p</a></li>
                    }
                    else
                    {
                        <li><a href="javascript:;" onclick="doSearch('#formSearch', @p)">@p</a></li>
                    }
                }

            </ul>
        </div>
    }
</div>