@model SV20T1020390.DomainModels.Product    
@{

}

<div class="box box-primary">

    <div class="box-header with-border ">
        <h3 class="box-title">Thông tin mặt hàng</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" 
            data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <form class="form-horizontal" action="~/Product/Save" method="post" enctype="multipart/form-data">
            @* <input type="hidden" name="@nameof(Model.ProductID)" value="@Model.ProductID"/> *@
            @Html.HiddenFor(m => m.ProductID)
            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng:</label>
                <div class="col-sm-10">
                    @* <input type="text" class="form-control" autofocus name="@nameof(Model.ProductName)" value="@Model.ProductName"> *@
                    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessage(nameof(Model.ProductName), new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    @* <textarea class="form-control" rows="3" name="@nameof(Model.ProductDescription)" >@Model.ProductDescription</textarea> *@
                    @Html.TextAreaFor(m => m.ProductDescription, new{@class="form-control", @row = "3"})
                    @Html.ValidationMessage(nameof(Model.ProductDescription), new{@style="color: #f00"})
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Loại hàng:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new { @class = "form-control" })
                    @Html.ValidationMessage(nameof(Model.CategoryID), "", new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhà cung cấp:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.SupplierID, SelectListHelper.Suppliers(), new { @class = "form-control" })
                    @Html.ValidationMessage(nameof(Model.SupplierID), "", new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính:</label>
                <div class="col-sm-10">
                    @* <input type="text" class="form-control" name="@nameof(Model.Unit)" value="@Model.Unit"> *@
                    @Html.TextBoxFor(m => m.Unit, new { @class = "form-control"})
                    @Html.ValidationMessage(nameof(Model.Unit), new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng:</label>
                <div class="col-sm-10">
                    @* <input type="text" class="form-control" name="@nameof(Model.Price)" value="@Model.Price"> *@
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control"})
                    @Html.ValidationMessage(nameof(Model.Price), new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" name="@nameof(Model.IsSelling)" value="true" @(Model.IsSelling ? "checked" : "")>Hiện đang được bán</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh minh họa:</label>
                <div class="col-sm-10">
                    <input type="hidden" name="@nameof(Model.Photo)" value="@Model.Photo" />
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    @* <input type="hidden" name="@nameof(Model.Photo)" value="@Model.Photo" /> *@
                    <img id="Photo" src="~/images/products/@Model.Photo" class="img img-bordered"
                    style="width:200px" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-default" href="~/Product">
                        Quay lại
                    </a>
                </div>
            </div>
            <div class="form-group">
                @Html.ValidationMessage("Error", new { @style = "color: #f00" })
            </div>
        </form>
    </div>

</div>

@if (ViewBag.IsEdit)
{
    <div class="box box-info">
        <div class="box-header with-border ">
            <h3 class="box-title">Thư viện ảnh</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"
                data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-gray">
                        <th>Ảnh</th>
                        <th>Mô tả/tiêu đề</th>
                        <th>Thứ tự hiển thị</th>
                        <th>Ẩn ảnh</th>
                        <th class="text-right">
                            <a class="btn btn-xs btn-primary" href="~/Product/Photo/@Model.ProductID?method=add">
                                <i class="fa fa-plus"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in SV20T1020390.BusinessLayers.ProductDataService.ListPhotos(Model.ProductID))
                    @* for (int i = 1; i <= 3; i++) *@
                    {
                        <tr>
                            <input type="hidden" name="@nameof(item.PhotoID)" value="@item.PhotoID"/>
                            <td style="vertical-align:middle">
                                @* <img style="width: 100%; height: 100%" class="profile-user-img img-responsive img-bordered"
                                src="~/images/products/@item.Photo" alt="quabongvang" style="width:100px" /> *@
                                <img src="~/images/productphotos/@item.Photo" alt="anh" style="width:100px" />
                            </td>
                            <td style="vertical-align:middle;">
                                @item.Description
                            </td>
                            <td style="vertical-align:middle;">@item.DisplayOrder</td>
                            <td style="vertical-align:middle;">@(item.IsHidden ? "Ảnh đã bị ẩn" : "")</td>
                            <td style="vertical-align:middle; text-align:right">
                                <a class="btn btn-xs btn-primary"
                                    href="~/Product/Photo/@Model.ProductID?method=edit&photoId=@item.PhotoID">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-danger"
                                    href="~/Product/Photo/@Model.ProductID?method=delete&photoId=@item.PhotoID" 
                                        onclick="return confirm('Xóa ảnh của mặt hàng hay không?')">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="box box-info">

        <div class="box-header with-border ">
            <h3 class="box-title">Thuộc tính của mặt hàng</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-gray">
                        <th>Tên thuộc tính</th>
                        <th>Giá trị thuộc tính</th>
                        <th>Thứ tự hiển thị</th>
                        <th class="text-right">
                            <a class="btn btn-xs btn-primary" href="~/Product/Attribute/@Model.ProductID?method=add">
                                <i class="fa fa-plus"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in SV20T1020390.BusinessLayers.ProductDataService.ListAttributes(Model.ProductID))
                    @* for (int i = 1; i <= 5; i++) *@
                    {
                        <tr>
                            <td style="vertical-align:middle">@item.AttributeName</td>
                            <td style="vertical-align:middle;">@item.AttributeValue</td>
                            <td style="vertical-align:middle;">@item.DisplayOrder</td>
                            <td style="vertical-align:middle; text-align:right">
                                <a class="btn btn-xs btn-primary" 
                                href="~/Product/Attribute/@Model.ProductID?method=edit&attributeId=@item.AttributeID">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" 
                                href="~/Product/Attribute/@Model.ProductID?method=delete&attributeId=@item.AttributeID"
                                onclick="return confirm('Xóa thuộc tính này của mặt hàng?')">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer text-center">
        </div>

    </div>
}