@model SV20T1020390.DomainModels.Employee
@{

}

<div class="box box-primary">
    <div class="box-body">
        <!--enctype="multipart/form-data" khi nào có file thì dùng thuộc tính này trong form-->
        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="~/Employee/Save">
            @* <input type="hidden" name="@nameof(Model.EmployeeID)" value="@Model.EmployeeID" /> *@
            @Html.HiddenFor(m => m.EmployeeID)
            <div class="form-group">
                <label class="control-label col-sm-2">Họ và tên:</label>
                <div class="col-sm-10">
                   @*  <input type="text" class="form-control" name="@nameof(Model.FullName)" autofocus value="@Model.FullName"/> *@
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessage(nameof(Model.FullName), new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh:</label>
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" name="@nameof(Model.BirthDate)" value="@Model.BirthDate"/>
                    <input type="text" class="form-control date-picker" name="birthDateInput"
                        value="@Model.BirthDate.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-GB"))"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ:</label>
                <div class="col-sm-10">
                    @* <input type="text" class="form-control" name="@nameof(Model.Address)" value="@Model.Address"/> *@
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control"})
                    @Html.ValidationMessage(nameof(Model.Address), new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Điện thoại:</label>
                <div class="col-sm-10">
                    @* <input type="text" class="form-control" name="@nameof(Model.Phone)" value="@Model.Phone"/> *@
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control"})
                    @Html.ValidationMessage(nameof(Model.Phone), new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    @* <input type="email" class="form-control" name="@nameof(Model.Email)" value="@Model.Email"/> *@
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
                    @Html.ValidationMessage(nameof(Model.Email), new { @style = "color: #f00" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                           @*  <input type="checkbox" name="@nameof(Model.IsWorking)" value="@(Model.IsWorking ? true : false)" />
                            @(Model.IsWorking ? "Nhân viên đang làm việc" : "Nhân viên đang không làm việc") *@
                            @* <input type="checkbox" name="@nameof(Model.IsWorking)" value="false" @(Model.IsWorking ? "" : "checked") />
                            Nhân viên đang làm việc *@
                            <input type="checkbox" name="@nameof(Model.IsWorking)" value="true" @(Model.IsWorking ? "checked" : "") />
                            Nhân viên đang làm việc
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh cá nhân:</label>
                <div class="col-sm-10">
                    <input type="hidden" name="@nameof(Model.Photo)" value="@Model.Photo"/>
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    @* <input type="hidden" name="@nameof(Model.Photo)" value="photo.png" /> *@
                    <img id="Photo" src="~/images/employees/@Model.Photo" class="img img-bordered" style="width:200px" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-floppy-o"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Employee" class="btn btn-default">
                        Quay lại
                    </a>
                </div>
            </div>
            <div class="form-group">
                @Html.ValidationMessage("Error", new { @style = "color: #f00" })
            </div>
        </form>

    </div>
</div>