@model SV20T1020390.web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý nhân viên";
}

<div class="box box-primary">
    <div class="box-body">
        <!-- Form nhập đầu vào tìm kiếm -->
        <form id="formSearch" action="~/Employee/Search" method="get" data-container="#searchResult">
            <div class="input-group">
                <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
                <input name="@nameof(Model.SearchValue)" type="text" class="form-control"
                       placeholder="Nhập tên nhân viên cần tìm" value="@Model.SearchValue">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <a href="~/Employee/Create" class="btn btn-primary" style="margin-left: 5px">
                        <i class="fa fa-plus"></i>
                        Bổ sung
                    </a>
                </div>
            </div>
        </form>

        <!-- Hiển thị kết quả tìm kiếm -->
        <div id="searchResult"></div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(this, 1);
                return;
            });
            doSearch("#formSearch", @Model.Page);
        });

        function doSearch(formSearchInput, page) {
            var url = $(formSearchInput).prop("action");
            var container = $(formSearchInput).data("container");
            var postData = $(formSearchInput).serializeArray();
            postData.push({ "name": "page", "value": page });
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $(container).html(data);
                }
            });

            return;
        }
    </script>
}
