@model SV20T1020390.web.Models.OrderSearchInput
@{
    ViewBag.Title = "Quản lý đơn hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!--Form đầu vào tìm kiếm-->
        <form id="formSearch" action="~/Order/Search" method="get" data-container="#searchResult">
            <div class="row container-fluid">
                <div class="col-sm-2">
                    @* <select class="form-control" name="category">
                        <option value="0">-- Trạng thái --</option>
                        <option value="1">Đơn hàng mới (chờ duyệt)</option>
                        <option value="2">Đơn hàng đã duyệt (chờ chuyển hàng)</option>
                        <option value="3">Đơn hàng đang được giao</option>
                        <option value="4">Đơn hàng đã hoàn tất thành công</option>
                        <option value="-1">Đơn hàng bị hủy</option>
                        <option value="-2">Đơn hàng bị từ chối</option>
                    </select> *@
                    @Html.DropDownListFor(m => m.Status, SelectListHelper.Statuses(), new { @class = "form-control" })
                </div>
                <div class="col-sm-2">
                    <input type="text" name="@nameof(Model.DateRange)" value="@nameof(Model.DateRange)" class="form-control daterange-picker" placeholder="" id="dateRange" />
                </div>
                <div class="col-sm-8 input-group">
                    <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
                    <input name="@nameof(Model.SearchValue)" type="text" class="form-control"
                           placeholder="Tìm kiếm theo tên khách hàng hoặc tên người giao hàng"
                           value="@Model.SearchValue">
                    <span class="input-group-btn">
                        <button type="submit" id="search-btn" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </span>
                </div>
            </div>
        </form>

        <!-- Hiển thị kết quả tìm kiếm -->
        <div id="searchResult"></div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            /*$("#Status").change(function () {
                doSearch("#formSearch", 1); // Gửi yêu cầu tìm kiếm khi giá trị thay đổi
            });
            $("dateRange").on('change', function () {
                var selectedValue = $(this).val();
                console.log(selectedValue); // In ra giá trị đã chọn trong console
                doSearch("#formSearch", 1); // Gửi yêu cầu tìm kiếm khi giá trị thay đổi
            });*/
            // Hoặc lấy giá trị khi cần thiết
           /* var inputValue = $('.daterange-picker').val();
            console.log(inputValue); // In ra giá trị đã chọn trong console khi cần thiết
            doSearch(this, 1); */
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(this, 1);
                return;
            });

            doSearch("#formSearch", @Model.Page);
        });

        function doSearch(formSearchInput, page) {
            var url = $(formSearchInput).prop("action");
            var container = $(formSearchInput).data("container");
            var postData = $(formSearchInput).serializeArray();
            postData.push(
                { "name": "page", "value": page },
                { "name": "Status", "value": $('#Status').val() },
                { "name": "DateRange", "value": $("#dateRange").val() }
            );
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $(container).html(data);
                }
            });

            return;
        }
    </script>
}