@model SV20T1020390.DomainModels.Shipper
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Shipper/Save">
            @* <input type="hidden" name="@nameof(Model.ShipperID)" value="@Model.ShipperID" /> *@
            @Html.HiddenFor(m => m.ShipperID)
            <div class="form-group">
                <label>Tên người giao hàng:</label>
                @* <input type="text" class="form-control" name="@nameof(Model.ShipperName)" autofocus value="@Model.ShipperName"> *@
                @Html.TextBoxFor(m => m.ShipperName, new { @class = "form-control", @autofocus = "autofocus" })
                @Html.ValidationMessage(nameof(Model.ShipperName), new { @style = "color: #f00" })
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                @* <input type="text" class="form-control" name="@nameof(Model.Phone)" value="@Model.Phone"> *@
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control"})
                @Html.ValidationMessage(nameof(Model.Phone), new { @style = "color: #f00" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    Lưu dữ liệu
                </button>
                <a href="~/Shipper" class="btn btn-default">
                    Quay lại
                </a>
            </div>
            <div class="form-group">
                @Html.ValidationMessage("Error", new { @style = "color: #f00" })
            </div>
        </form>
    </div>
</div>
